/*
variable
****************************/
$main-c:#e83435;

$gray-dark:  #212529;
$brand-primary: #0badad;
$brand-accent: #D84315;

$white:#fff;
$black:#000;
$gray2:#222;
$gray3:#333;
$gray5:#555;
$gray6:#666;
$gray7:#777;
$gray80:#808080;
$gray9:#999;
$graye:#eee;
$grayf5:#f5f5f5;
